include *.example
include *.py
include *.txt
include *.xlsx
include *.yaml
include *.yml
include Dockerfile
include Makefile
include alembic.ini
recursive-include migration *.mako
recursive-include migration *.py